<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>h1n0</title>
    <link rel="icon" href="ninja.png" type="image/png">
    <style>
body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>
<body>
<h1 align="center"><img src="https://raw.githubusercontent.com/h1n054ur/h1n054ur/master/cipher.gif"></h1>
<h3 align="center">A passionate self-taught developer from Australia.</h3>

<p align="center">
  <a target="_blank" rel="noopener noreferrer" href="https://haniumer.com"><img src="https://img.shields.io/static/v1?label=h1n054ur&message=Webpage&color=blue&logo=github" alt="h1n054ur's Webpage" /></a>
  <a target="_blank" rel="noopener noreferrer" href="https://mailhide.io/e/sMrBCPXY" onclick="popup=window.open('https://mailhide.io/e/sMrBCPXY','mailhidepopup','width=580,height=635'); return false;"><img src="https://img.shields.io/badge/Email-Reveal-2a8?&logo=gmail&logoColor=white" alt="h1n054ur's Email" /></a>
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/h1n054ur"><img src="https://komarev.com/ghpvc/?username=h1n054ur&label=Profile%20Views" alt="h1n054ur's Profile Views" /></a>
</p>

<p align="center"><a target="_blank" rel="noopener noreferrer" href="https://tinyurl.com/ecxpkcdc"><img src="https://tinyurl.com/5upvew82" alt="h1n0 Game" /></a></p>

<ul align="center">
  <a><b>Quote I Live By</b>: Now is Better than Never.</a>
</ul>

<h3 align="center"> Spotify - Now Playing 🎧</h3>
<p align="center">
  <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/user/1cb9oxfto9fd9km6fjdbmza3z"><img src="https://obsimad-github.vercel.app/api/spotify" alt="Spotify's Now Playing" width="350" /></a>
</p>


<p align="center">
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/h1n054ur">
    <img height="150em" src="https://github-readme-stats.vercel.app/api?username=h1n054ur&show_icons=true&hide_border=true&theme=blueberry" alt="h1n054ur's GitHub Stats" />
    <img height="150em" src="https://github-readme-stats.vercel.app/api/top-langs/?username=h1n054ur&layout=compact&hide_border=true&theme=blueberry" alt="h1n054ur's Top Languages" />
  </a>
</p>
</body>
